@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,body, #root{
  height: 100%;
}

.App {
  text-align: center;
  font-family: 'Roboto';
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-primary-color{
  background-color: #DC4C41;
}

.navbar{
  padding: .5rem 1.5rem .5rem 1.5rem !important;
}

.bg-search{
  background: #E36F66;
  border-radius: 5px;
}

input[type=search] {
  background-color: transparent;
  border: 0;
  color: snow;
  font-size: 14px;
}

input[type=search]:focus {
  outline: none;
}

.sidebar{
  background-color: #FBFAFB;
  height: 100%;
  width: 300px;
  color: #6F6F6F;
}

ul li {
  line-height: 3em;
  list-style-type: none;
  text-align: left;
  display: block;
}

.board {
  padding: 30px;
  height: 100%;
  width: 100%;
}

h6 {
  text-align: left;
  font-weight: bold !important;
}

.item {
  border-radius: 10px;
  background-color: #fff7f6;
  /* max-width: fit-content; */
  /* min-width: 300px; */
}

.add {
  background-color: #ffdada;
  border-radius: 5px;
}

.card {
  text-align: left;
  border: 0 !important;
  width: inherit !important;
  max-width: 250px;
}

.card-text {
  font-weight: 400;
  font-size: 12px;
}

/* .card-body {
  padding: 14px !important;
} */

.card-title {
  font-weight: bold;
}